ErrorDocument 404 index.php
Options -indexes
Options +Multiviews

<IfModule mod_rewrite.c>
Options +FollowSymLinks
RewriteEngine On
# Everything else that isn't a file gets routed through the index page
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^(.*)$ index.php?goto=$1&%1 [L]
</IfModule>