@font-face {
    font-family: 'exo';
    src: url('../fonts/exo-black-webfont.eot');
    src: url('../fonts/exo-black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/exo-black-webfont.woff') format('woff'), url('../fonts/exo-black-webfont.ttf') format('truetype'), url('../fonts/exo-black-webfont.svg#exoblack') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'exo';
    src: url('../fonts/exo-bold-webfont.eot');
    src: url('../fonts/exo-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/exo-bold-webfont.woff') format('woff'), url('../fonts/exo-bold-webfont.ttf') format('truetype'), url('../fonts/exo-bold-webfont.svg#exobold') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'exo';
    src: url('../fonts/exo-regular-webfont.eot');
    src: url('../fonts/exo-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/exo-regular-webfont.woff') format('woff'), url('../fonts/exo-regular-webfont.ttf') format('truetype'), url('../fonts/exo-regular-webfont.svg#exoregular') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'exo';
    src: url('../fonts/exo-medium-webfont.eot');
    src: url('../fonts/exo-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/exo-medium-webfont.woff') format('woff'), url('../fonts/exo-medium-webfont.ttf') format('truetype'), url('../fonts/exo-medium-webfont.svg#exomedium') format('svg');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'exo';
    src: url('../fonts/exo-light-webfont.eot');
    src: url('../fonts/exo-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/exo-light-webfont.woff') format('woff'), url('../fonts/exo-light-webfont.ttf') format('truetype'), url('../fonts/exo-light-webfont.svg#exolight') format('svg');
    font-weight: 100;
    font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
    color: white;
}
p {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
}
body {
    font-family: "exo", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    background: url(../img/placeholder-bg.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}
.wrapper .app-demo {
    position: fixed;
    width: 100%;
    height: 100%}
.wrapper .app-demo .phone {
    background: url(../img/nexus.png) no-repeat center right;
    background-size: cover;
    width: 350px;
    height: 600px;
    margin-top: 85px;
}
.wrapper .main-content .newsletter {
    background: rgba(0, 0, 0, 0.4);
    padding: 10px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    display: block;
    width: 490px;
}
.wrapper .main-content .newsletter input {
    font-size: 14px;
    margin-right: 5px;
    width: 37%;
    height: 54px;
    padding: 0 10px;
    color: #8494a1;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 3px 3px 3px 0 rgba(0, 0, 0, 0.04);
    box-shadow: inset 3px 3px 3px 0 rgba(0, 0, 0, 0.04);
    border: 0;
    vertical-align: top;
}
.wrapper .main-content .newsletter input[type="submit"] {
    font-family: "exo", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    background: #9ecd6f;
    border: 0;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    height: 54px;
    width: 94px;
    -webkit-box-shadow: inset 0 -5px 1px 0 rgba(71, 142, 109, 0.44);
    box-shadow: inset 0 -5px 1px 0 rgba(71, 142, 109, 0.44);
    float: right;
    cursor: pointer;
}
.wrapper .main-content section {
    position: relative;
}
.wrapper .main-content section h2, .wrapper .main-content section h3 {
    font-weight: 200;
    line-height: 1.3;
    font-size: 3em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.24);
}
.wrapper .main-content section p {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 300;
}
.wrapper .main-content section .content-wrapper {
    position: absolute;
    top: 50%}
.email-login {
  padding: 10px 0 0 10px;
}
.email-login span {
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 15px;
}
.email-login span a {
  color: white;
  border-bottom: 1px dotted white;
}
.email-login span a:hover {
  border-bottom-style: solid;
}
.social-signup {width: 490px;margin-top: 20px;padding-left: 10px;}
.social-login {
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    margin: 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid transparent;
    font-size: 15px;
    line-height: 45px;
    font-weight: 400;
    color: #fff;
    padding: 0px 18px;
    height: 45px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-transition-property: background-color;
    -webkit-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -moz-transition-duration: .07s;
    -webkit-transition-duration: .07s;
    -o-transition-duration: .07s;
    transition-duration: .07s;
    -moz-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}
.social-login i {
  font-size: 23px;
  float: left;
}
.social-login span {
  margin-left: 10px;
}
.facebook-connect {
  background-color: #3B5998;
  width: 230px;
}
.twitter-connect {
  background-color: #1DADEB;
  width: 230px;
  margin-right: 10px;
}
.twitter-connect:hover {
    background-color: #1897CE;
    color: white;
}
.facebook-connect {
    background-color: #3B5998;
    width: 230px;
}
.facebook-connect:hover {
    background-color: #30487B;
    color: white;
}

.support {
	position:  absolute;
	bottom:  10px;
	left:  15%;
	width:  800px;

}

.support .sponsors li {

	width:  120px;

	margin-left:  20px;

	line-height:  80px;
}
.social {

	margin-top:  20px;

}
.social li {

	display:  inline-block;

	font-size:  20px;

	margin-right:  20px;

	text-align:  center;


}
.social li a {

	color:  #fefefe;

}

#last {

	background:  rgba(0, 0, 0, 0.9);

	text-align:  center;

}
#last .eleven.columns {

	margin-top:  100px;

}

#last h3 {

	font-size:  2.5em;

	margin-bottom:  20px;

}

#last .newsletter {

	margin:  50px;

}
#last .newsletter input  {

font-size:  14px;

width:  275px;

height:  54px;

padding:  0 16px;

color:  #8494a1;

-webkit-border-radius:  4px;

border-radius:  4px;

-webkit-box-shadow:  inset 3px 3px 3px 0 rgba(0, 0, 0, 0.04);

box-shadow:  inset 3px 3px 3px 0 rgba(0, 0, 0, 0.04);

border:  0;

vertical-align:  top;

}
#last .newsletter input[type="button"]  {

font-family:  "exo", "Helvetica Neue", "Helvetica", Arial, sans-serif;
font-size:  20px;
font-weight:  bold;
color:  #fff;
background:  #9ecd6f;
border:  0;
-webkit-border-radius:  4px;
border-radius:  4px;
display:  inline-block;
height:  54px;
width:  94px;
-webkit-box-shadow:  inset 0 -5px 1px 0 rgba(71, 142, 109, 0.44);
box-shadow:  inset 0 -5px 1px 0 rgba(71, 142, 109, 0.44);
cursor:  pointer;

}

/* Top Navigation */
.top-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.top-nav {
  position: relative;
  width: 100%;
}
nav.navigation {
	margin: 30px 20px 0 0;
    right: 0;
    position: absolute;
}
.main-nav {width: 100%;}
nav.navigation li {
	display: inline-block;
	font-size: 0.9em;
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
	font-weight: 400;
	margin-left: 15px;
}
nav.navigation li a {
	color: #fefefe;
}
nav.navigation li.link-icon {
    font-size: 1.3em;
}
/*nav.navigation li:nth-child(2), nav.navigation li:nth-child(3){
	margin-right: 10px;
	font-size: 20px;
}*/
