@font-face {
    font-family: 'exo';
    src: url('../fonts/exo-black-webfont.eot');
    src: url('../fonts/exo-black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/exo-black-webfont.woff') format('woff'), url('../fonts/exo-black-webfont.ttf') format('truetype'), url('../fonts/exo-black-webfont.svg#exoblack') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'exo';
    src: url('../fonts/exo-bold-webfont.eot');
    src: url('../fonts/exo-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/exo-bold-webfont.woff') format('woff'), url('../fonts/exo-bold-webfont.ttf') format('truetype'), url('../fonts/exo-bold-webfont.svg#exobold') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'exo';
    src: url('../fonts/exo-regular-webfont.eot');
    src: url('../fonts/exo-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/exo-regular-webfont.woff') format('woff'), url('../fonts/exo-regular-webfont.ttf') format('truetype'), url('../fonts/exo-regular-webfont.svg#exoregular') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'exo';
    src: url('../fonts/exo-medium-webfont.eot');
    src: url('../fonts/exo-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/exo-medium-webfont.woff') format('woff'), url('../fonts/exo-medium-webfont.ttf') format('truetype'), url('../fonts/exo-medium-webfont.svg#exomedium') format('svg');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'exo';
    src: url('../fonts/exo-light-webfont.eot');
    src: url('../fonts/exo-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/exo-light-webfont.woff') format('woff'), url('../fonts/exo-light-webfont.ttf') format('truetype'), url('../fonts/exo-light-webfont.svg#exolight') format('svg');
    font-weight: 100;
    font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
    color: white;
}
p {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
}
body {
    font-family: "exo", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    background: url(../img/placeholder-bg.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}
.wrapper .app-demo {
    position: fixed;
    width: 100%;
    height: 100%}
.wrapper .app-demo .phone {
    background: url(../img/nexus.png) no-repeat center center;
    background-size: cover;
    width: 350px;
    height: 600px;
    margin-top: 100px;
}
.wrapper .main-content #home .newsletter {
    background: rgba(0, 0, 0, 0.4);
    padding: 13px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    display: block;
    width: 408px;
}
.wrapper .main-content #home .newsletter input {
    font-size: 14px;
    width: 275px;
    height: 54px;
    padding: 0 16px;
    color: #8494a1;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 3px 3px 3px 0 rgba(0, 0, 0, 0.04);
    box-shadow: inset 3px 3px 3px 0 rgba(0, 0, 0, 0.04);
    border: 0;
    vertical-align: top;
}
.wrapper .main-content #home .newsletter input[type="button"] {
    font-family: "exo", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background: #9ecd6f;
    border: 0;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    height: 54px;
    width: 94px;
    -webkit-box-shadow: inset 0 -5px 1px 0 rgba(71, 142, 109, 0.44);
    box-shadow: inset 0 -5px 1px 0 rgba(71, 142, 109, 0.44);
    float: right;
    cursor: pointer;
}
.wrapper .main-content section {
    position: relative;
}
.wrapper .main-content section h2, .wrapper .main-content section h3 {
    font-weight: 200;
    margin-bottom: 10px;
    line-height: 1.3;
    font-size: 3em;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.24);
}
.wrapper .main-content section p {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 300;
}
.wrapper .main-content section .content-wrapper {
    position: absolute;
    top: 50%}

.support {
	position:  absolute;
	bottom:  10px;
	left:  15%;
	width:  800px;
    
}

.support .sponsors li {
    
	width:  120px;
    
	margin-left:  20px;
    
	line-height:  80px
}
.social {
    
	margin-top:  20px;
    
}
.social li {
    
	display:  inline-block;
    
	font-size:  20px;
    
	margin-right:  20px;
    
	text-align:  center;
    

}
.social li a {
    
	color:  #fefefe;
    
}

#last {
    
	background:  rgba(0, 0, 0, 0.9);
    
	text-align:  center;
    
}
#last .eleven.columns {
    
	margin-top:  100px;
    
}

#last h3 {
    
	font-size:  2.5em;
    
	margin-bottom:  20px;
    
}

#last .newsletter {
    
	margin:  50px;
    
}
#last .newsletter input  {
    
font-size:  14px;
    
width:  275px;
    
height:  54px;
    
padding:  0 16px;
    
color:  #8494a1;
    
-webkit-border-radius:  4px;
    
border-radius:  4px;
    
-webkit-box-shadow:  inset 3px 3px 3px 0 rgba(0, 0, 0, 0.04);
    
box-shadow:  inset 3px 3px 3px 0 rgba(0, 0, 0, 0.04);
    
border:  0;
    
vertical-align:  top;
    
}
#last .newsletter input[type="button"]  {
    
font-family:  "exo", "Helvetica Neue", "Helvetica", Arial, sans-serif; 
font-size:  20px; 
font-weight:  bold;
color:  #fff;   
background:  #9ecd6f;
border:  0;  
-webkit-border-radius:  4px;  
border-radius:  4px;   
display:  inline-block;
height:  54px;
width:  94px;
-webkit-box-shadow:  inset 0 -5px 1px 0 rgba(71, 142, 109, 0.44);
box-shadow:  inset 0 -5px 1px 0 rgba(71, 142, 109, 0.44);
cursor:  pointer;
    
}

/* Top Navigation */
nav.navigation{
	margin-top: 20px;
}
nav.navigation li{
	display: inline-block;
	font-size: 14px;
	font-family:  "Helvetica Neue", "Helvetica", Arial, sans-serif; 
	font-weight: 400;
	margin-right: 30px;
}
nav.navigation li a{
	color: #fefefe;
}
nav.navigation li:nth-child(2), nav.navigation li:nth-child(3){
	margin-right: 10px;
	font-size: 20px;
}
